.rykn0wxx {
  .mudhead {
    .card {
      position: relative;
      background: #2b3942;
      margin-bottom: 30px;
      border-radius: 2px;
      box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
      &__header {
        position: relative;
        border-radius: 2px 2px 0 0;
        &--title {
          margin: 0;
          line-height: 100%;
          font-size: 1rem;
          font-weight: 400;
          color: #b4bfc3;
          letter-spacing: 0.01em;
          small {
            display: block;
            margin-top: 8px;
            line-height: 160%;
            font-size: 12px;
            color: rgba(darken(#b4bfc3, 1%), .47);
            letter-spacing: 0.02em;
          }
        }
        + .card__body {
          padding-top: 0;
        }
      }
      .card__body, .card__header {
        @media (min-width: 768px) {
          padding: 30px 32px;
        }
        @media (max-width: 767px) {
          padding: 25px 27px;
        }
      }
    }
  }
}