.rykn0wxx {
  .mudhead {
    .table-row {
      cursor: pointer;
      &__link {
        font-size: 14px;
        color: $secondary;
        transition: color 0.2s cubic-bezier(0.34, 1.61, 0.7, 1);
        line-height: 1;
        &:hover {
          color: $primary;
        }
      }
      &__actions {
        padding: 0;
        text-align: center;
        vertical-align: middle;
      }
      &:active, &:focus {
        outline: none;
      }
    }
  }
}